<!-- <div>Hello</div>
<app-rooms></app-rooms> -->

<!-- <app-container>
    <app-employee></app-employee>
    <h2>This is some text between employee and rooms component</h2>
    <app-rooms></app-rooms>
</app-container> -->

<!-- <a [routerLink]="'getemployees'">Get Employees</a>
<a [routerLink]="'rooms'">Get Rooms</a>
<router-outlet></router-outlet> -->
<!-- <a [routerLink]="'rooms'">Get Rooms</a>
<a [routerLink]="'getemployees'">Get Employees</a>
<router-outlet></router-outlet> -->
<app-nav></app-nav>